body{
background-image:url("/home/rg/Music/Book Selling Website/Home/B.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
position:relative;
margin:0px;
overflow-x:scroll;
}

.blackout{
position:absolute;
background-color:rgba(193,154,107,0.7);
height:502px;
width:960px;
}

.blackout1{
position:absolute;
background-color:rgba(193,154,107,0.7);
height:700px;
width:960px;
}

.loginpage{
position:absolute;
background-color:rgba(0,0,0,0.8);
height:400px;
width:400px;
top:40px;
left:270px;
right:250px;
border-radius:20px;
}

.loginpage1{
position:absolute;
background-color:rgba(0,0,0,0.8);
height:630px;
width:400px;
top:30px;
left:270px;
right:250px;
border-radius:20px;
}

.loginpage:hover{
box-shadow:2px 2px 5px 5px rgba(105,105,105,0.7);
}

.loginpage1:hover{
box-shadow:2px 2px 5px 5px rgba(105,105,105,0.7);
}

.logindata{
position:absolute;
top:60px;
left:80px;
text-align:center;
color:white;
}

.logindata{
position:absolute;
top:30px;
left:80px;
text-align:center;
color:white;
}

table{
position:absolute;
left:40px;
}

table td img:hover{
box-shadow:20px 20px 50px 15px white;
border-radius:5px;
}

.Information h3{
position:absolute;
top:10px;
left:340px;
}

.Information marquee{
text-align:center;
}

.about{
background-image:url("/home/rg/Music/Book Selling Website/Home/B.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
position:relative;
margin:0px;
overflow-y:hidden;
overflow-x:hidden;
}

